<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="http://localhost:8090/{{project.image}}" class="img-fluid rounded-start" alt="{{project.name}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{project.name}}</h5>
                <p class="card-text">{{project.description}}</p>
                <p><strong>Status:</strong> {{project.status}}</p>
                <p><strong>Start Date:</strong> {{project.startDate | date:'dd MMMM yyyy'}}</p>
                <p><strong>End Date:</strong> {{project.endDate | date:'dd MMMM yyyy'}}</p>
                <p><strong>Team Size:</strong> {{project.teamSize}}</p>
            </div>
        </div>
    </div>
</div>
